
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env/
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.sqlite3
*.db
*.DS_Store
*.coverage
.coverage.*
.cache/
.pytest_cache/
.mypy_cache/
.tox/
.ipynb_checkpoints/
*.ipynb
*.log

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.lof
*.lot
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.xdv
*.pdfsync
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.dvi
*.ps
*.pdf
*.run.xml
*.bcf

# OS files
Thumbs.db
.DS_Store
*.synctex.gz
*.toc
.venv/
